<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FamilyTreeDB" connectionString="Server=.\SQLEXPRESS;Database=FamilyTree_NicklasEriksson;Trusted_Connection=True;" providerName="System.Data.SqlClient"/> 
		<!-- www.Connectionstings.com helped me out here. -->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>